/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Alegreya Sans", "Lato", FreeSans, Arial, serif !default;

// colors
$body-bg: #eeeeee;
$body-color: #2d2d2d;
$link-color: #034a79;


/*-- parameters --*/


// font sizes
.h1 {
  font-size: large;
}

.h2 {
  font-size: small;
}

.li {
  font-size:smaller;
  line-height: 1.2pt;
}

.aside {
  font-size: smaller;
}






/*-- other parameters --*/

.reveal .slide blockquote {
  border-left: 3px solid;
  padding-left: 0.5em;
}


.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}